<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta this_name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta this_name="this_description" content=""/>
    <meta this_name="author" content=""/>
    <title>CSGO - Controls</title>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
    {% block header %}{% endblock %}
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CSGO Server Control</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Info</div>
                    <a class="nav-link" href="/status">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Match Status
                    </a>
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="/config">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Manage Matches
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Verein zur Förderung von Wissenschaft und Technik an
                        Schulen (F-WuTS) 2010-2022
                    </div>
                    <div>
                        <a href="https://robo4you.at/datenschutz">Privacy Policy</a>
                        &middot;
                        <a href="https://robo4you.at/kontakt">Contact Us</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% block foot %}
{% endblock %}
</body>
</html>
