<html>
<head>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body id="body" class="bg-gray-800 text-white">
<div class="lg:container lg:mx-auto">
    <h1 class="text-2xl font-bold ml-5 mt-5 mb-5">CS:GO LAN Tournament Status</h1>
    <div id="stats" class="flex flex-wrap font-extrabold flex-row justify-between">
        <!-- List of stats will be inserted here -->
    </div>

    <div class="grid grid-cols-10 gap-4">
        <div id="teams" class="grid col-span-3 items-start content-start">
            <!-- List of teams will be inserted here -->
        </div>
        <div id="matches" class="grid gap-4 mb-8 col-span-7 items-start content-start">
            <!-- List of matches will be inserted here -->
        </div>
    </div>

    <div class="grid grid-cols-10 gap-4">
        <div class="grid col-span-2 items-start content-start">
            <h1 class="text-2xl font-bold ml-5 mt-5 mb-5">Player Kills</h1>
            <div id="player_kills" class="relative">
                <!-- List of player kills will be inserted here -->
            </div>
        </div>
    </div>
</div>
<div style="display: none" class="bg-sky-600"></div>
<div style="display: none" class="bg-red-600"></div>
<div style="display: none" class="bg-green-600"></div>
</body>
<style>
</style>
<script>
    // https://stackoverflow.com/questions/7616461/generate-a-hash-from-string-in-javascript
    String.prototype.hashCode = function () {
        var hash = 0,
            i, chr;
        if (this.length === 0) return hash;
        for (i = 0; i < this.length; i++) {
            chr = this.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    }

    let animating = 0;
    let version = {{ version }};
    let phonetic_event_names = {
        "round_mvp": "MVPs",
        "grenade_thrown": "Granades",
        "player_death": "Deaths",
        "hegrenade_detonated": "HE Grenades",
        "molotov_detonated": "Molotovs",
        "flashbang_detonated": "Flashbangs",
        "smokegrenade_detonated": "Smokes",
        "decoygrenade_started": "Decoys",
        "bomb_planted": "Bombs Planted",
        "bomb_defused": "Bombs Defused",
        "bomb_exploded": "Bombs Exploded",
        "player_killed": "Kills"
    }

    let update_queue = [];
    let update_cache = {"matches": {}, "teams": {}, "stats": {}};

    class Update {
        constructor() {
            this.type = "";
            this.html = "";
            this.id = "";
        }
    }

    class UpdatePlayer extends Update {
        constructor() {
            super();
            this.new = false;
            this.delete = false;
            this.new_html = "";
            this.pos = -1;
        }
    }

    function process_update_queue() {
        if (update_queue.length > 0 && animating === 0) {
            let update_i = 0;
            // search for updates that are UpdatePlayer and have 'new' or 'delete' set to true
            for (let i = 0; i < update_queue.length; i++) {
                if ((update_queue[i] instanceof UpdatePlayer) && (update_queue[i].delete || update_queue[i].new)) {
                    update_i = i;
                    break;
                }
            }

            let update = update_queue[update_i];
            console.log("Processing update", update);

            if (update.type === "match") {
                update_match(update);
            } else if (update.type === "team") {
                update_team(update);
            } else if (update.type === "stats") {
                update_stats(update);
            } else if (update.type === "player_stats") {
                update_stats_player(update);
            }
            update_queue.splice(update_i, 1);
        }
    }

    function update_match(update) {
        const matchesContainer = document.querySelector('#matches');
        matchesContainer.innerHTML = update.html;
    }

    function update_team(update) {
        const teamsContainer = document.querySelector('#teams');
        teamsContainer.innerHTML = update.html;
    }

    function update_stats(update) {
        document.getElementById(`${update.id}_value`).innerHTML = update.html;

        if (!document.getElementById(`${update.id}_anim`).classList.contains("animate-ping")) {
            document.getElementById(`${update.id}_anim`).style.display = "flex";
            animating += 1;
            document.getElementById(`${update.id}_anim`).classList.add("animate-ping");
        }
    }

    function update_stats_player(update) {
        if (update.new) {
            const playerEl = document.createElement('div');
            playerEl.classList.add('bg-cyan-600', 'rounded-md', 'p-4', 'm-1', 'flex-auto', 'flex-nowarp', 'font-extrabold');
            playerEl.id = `player_${update.id}`;
            playerEl.innerHTML = update.new_html;

            document.getElementById("player_kills").appendChild(playerEl);
        }

        const player = document.getElementById(`player_${update.id}_value`);
        if (update.delete) {
            document.getElementById(`player_${update.id}`).remove();
            return;
        }

        if (player !== null) {
            player.innerHTML = update.html;
        }

        let this_player = document.getElementById(`player_${update.id}`);
        let swap_player = document.getElementById(`player_kills`).children[update.pos];

        if (this_player.id === swap_player.id) {
            return;
        }

        const container = document.getElementById("player_kills");
        let this_i = -1;
        for (let i = 0; i < container.children.length; i++) {
            if (container.children[i].id === this_player.id) {
                this_i = i;
                break;
            }
        }

        let swap_i = -1;
        for (let i = 0; i < container.children.length; i++) {
            if (container.children[i].id === swap_player.id) {
                swap_i = i;
                break;
            }
        }

        if (swap_i > this_i) {
            a = swap_i;
            swap_i = this_i;
            this_i = a;

            a = swap_player;
            swap_player = this_player;
            this_player = a;
        }

        for (let i = 0; i < update_queue.length; i++) {
            if (update_queue[i].type === "player_stats" && `player_${update_queue[i].id}` === swap_player.id) {
                document.getElementById(`player_${update_queue[i].id}_value`).innerHTML = update_queue[i].html;
                update_queue.splice(i, 1);
                break;
            }
        }

        animating += 1;
        swap_animation(this_player, swap_player, this_i, swap_i, container);
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function swap_animation(this_player, swap_player, this_i, swap_i, container) {
        let height_diff = 0;

        for (let i = Math.min(this_i, swap_i); i < Math.max(this_i, swap_i); i++) {
            height_diff += container.children[i].clientHeight;
        }
        height_diff *= 1.05;

        console.log("Height diff", height_diff);
        let animationLength = 1000;

        this_player.classList.remove("bg-cyan-600");
        this_player.classList.add("bg-green-600");
        swap_player.classList.remove("bg-cyan-600");
        swap_player.classList.add("bg-red-600");

        this_player.setAttribute('style', `transform: translate(0px, -${height_diff}px); transition: background-color ${animationLength / 2}ms ease-in-out, transform ${animationLength}ms`);
        swap_player.setAttribute('style', `transform: translate(0px, ${height_diff}px); transition: background-color ${animationLength / 2}ms ease-in-out, transform ${animationLength}ms`);

        await sleep(animationLength / 2);

        this_player.classList.add("bg-cyan-600");
        this_player.classList.remove("bg-green-600");
        swap_player.classList.add("bg-cyan-600");
        swap_player.classList.remove("bg-red-600");

        this_player.setAttribute('style', `transform: translate(0px, -${height_diff}px); transition: background-color ${animationLength / 2}ms ease-in-out, transform ${animationLength}ms`);
        swap_player.setAttribute('style', `transform: translate(0px, ${height_diff}px); transition: background-color ${animationLength / 2}ms ease-in-out, transform ${animationLength}ms`);

        await sleep(animationLength / 2);

        swapDom(this_player, swap_player);
        this_player.removeAttribute('style');
        swap_player.removeAttribute('style');

        await sleep(10);
        animating -= 1;
    }

    function swapDom(a, b) {
        var aParent = a.parentNode;
        var bParent = b.parentNode;

        var aHolder = document.createElement("div");
        var bHolder = document.createElement("div");

        aParent.replaceChild(aHolder, a);
        bParent.replaceChild(bHolder, b);

        aParent.replaceChild(b, aHolder);
        bParent.replaceChild(a, bHolder);
    }

    // Fetch the list of matches from the API
    function get_matches_and_teams() {
        fetch('/api/status')
            .then(response => response.json())
            .then(resp => {
                const matches = resp["matches"];
                if (JSON.stringify(matches) !== JSON.stringify(update_cache["matches"])) {
                    update_cache["matches"] = matches;
                    let new_update = new Update();
                    new_update.type = "match";

                    const matchesContainer = document.createElement('div');
                    if (matches.length === 0) {
                        matchesContainer.innerHTML = 'Currently no matches are running.';
                    }
                    matches.forEach(match => {
                        const matchEl = document.createElement('div');
                        matchEl.classList.add('bg-gray-700', 'p-4', 'm-1', 'rounded-lg');
                        matchEl.innerHTML = `
              <div class="grid grid-cols-12 justify-items-center">
                <div class="text-4xl col-span-5 justify-self-end flex items-center">${match.teamnames[0]}</div>
                <div class="text-6xl col-span-2 font-bold">vs</div>
                <div class="text-4xl col-span-5 justify-self-start flex items-center">${match.teamnames[1]}</div>
              </div>
              <div class="grid grid-cols-12 justify-items-center">
                <div class="text-base col-span-5 justify-self-end flex items-center">ELO ${match.team_elo[0]}</div>
                <div class="text-4xl col-span-2 font-bold">${match.score[0]} : ${match.score[1]}</div>
                <div class="text-base col-span-5 mt-1 justify-self-start flex items-center">${match.team_elo[1]} ELO</div>
              </div>
              <div class="text-sm mb-2">
                Server IP: ${match.server_ip}
              </div>
              <div class="text-sm">
                Status: ${match.status}
              </div>
            `;
                        matchesContainer.appendChild(matchEl);
                    });
                    new_update.html = matchesContainer.innerHTML;
                    update_queue.push(new_update);
                }

                // Update the list of teams
                const teams = resp["teams"];
                if (JSON.stringify(teams) !== JSON.stringify(update_cache["teams"])) {
                    update_cache["teams"] = teams;
                    let new_update = new Update();
                    new_update.type = "team";

                    const teamsContainer = document.createElement('div');
                    teams.forEach((team, i) => {
                        const teamEl = document.createElement('div');
                        teamEl.classList.add('bg-gray-700', 'p-4', 'm-1', 'rounded-lg', 'flex', 'items-center');
                        teamEl.innerHTML = `
                <div class="min-w-full">
              <div class="grid grid-cols-10 justify-items-center">
                    <div class="text-base col-span-1 font-bold justify-self-center">${i + 1}. </div>
                    <div class="text-base col-span-9 font-bold justify-self-start">${team.teamname}</div>
                    <div class="text-base col-span-1"></div>
                    <div class="text-base col-span-3 justify-self-start">ELO=${team.elo}</div>
                    <div class="text-base col-span-2">W=${team.wins}</div>
                    <div class="text-base col-span-2">L=${team.losses}</div>
                    <div class="text-base col-span-2">D=${team.draws}</div>
              </div></div>
            `;
                        teamsContainer.appendChild(teamEl);
                    });
                    new_update.html = teamsContainer.innerHTML;
                    update_queue.push(new_update);
                }

            });
    }

    function get_stats() {
        fetch('/api/stats')
            .then(response => response.json())
            .then(resp => {
                if (resp["version"] !== version) {
                    location.reload();
                }

                if (JSON.stringify(resp) !== JSON.stringify(update_cache["stats"])) {
                    update_cache["stats"] = resp;
                } else {
                    return;
                }

                process_stats(resp);
                process_player_stats(resp);
            });
    }

    function process_stats(resp) {
        const statsContainer = document.querySelector('#stats');
        Object.keys(resp).forEach(key => {

            if (phonetic_event_names[key] === undefined) {
                return;
            }

            if (document.getElementById(key) === null) {
                const statEl = document.createElement('div');
                statEl.classList.add('bg-pink-700', 'rounded-md', 'p-4', 'm-1', 'relative', 'flex-auto', 'flex-nowarp');
                statEl.id = key;
                statEl.innerHTML = `
                            <div class="flex flex-col items-center">
                                <div id="${key}_name">${phonetic_event_names[key]}</div>
                                <div id="${key}_value">${resp[key]["occurred"]}</div>
                            </div>
                            <div style="overflow: hidden;">
                                <div  id="${key}_anim" style="animation-iteration-count: 1; display: none" class="bg-pink-600 absolute rounded-md top-0 left-0 w-full h-full"></div>
                            </div>
                        `;
                statsContainer.appendChild(statEl);
                statEl.addEventListener('animationend', (event) => {
                    document.getElementById(`${key}_anim`).style.display = "none";
                    document.getElementById(`${key}_anim`).classList.remove("animate-ping");
                    animating -= 1;
                });
            }

            const value_ref = document.getElementById(`${key}_value`);
            if (resp[key]["occurred"] !== parseInt(value_ref.innerHTML)) {
                if (!check_if_already_in_update_queue(key, resp[key]["occurred"])) {
                    let new_update = new Update();
                    new_update.type = "stats";
                    new_update.html = resp[key]["occurred"];
                    new_update.id = key;

                    update_queue.push(new_update);
                }
            }
        });
    }

    tracked_player_stats = ["player_killed"];

    function process_player_stats(resp) {
        Object.keys(resp).forEach(key => {
            if (tracked_player_stats.includes(key)) {
                const player_stats = resp[key]["players"];
                let current_players = [];
                Object.keys(player_stats).forEach(player => {
                    pos = parseInt(player); // WHY IS THIS A STRING????
                    player = player_stats[pos]; // just why, how can a foreach loop not give you the value...
                    const new_update = new UpdatePlayer();
                    new_update.type = "player_stats";
                    new_update.id = player[0].hashCode();
                    new_update.html = player[1];
                    new_update.pos = pos;

                    current_players.push(new_update.id.toString());

                    if (document.getElementById(`player_${new_update.id}`) === null) {
                        new_update.new = true;
                        new_update.new_html = `
                            <div class="flex flex-col items-center text-center">
                                <div id="player_${new_update.id}_name">${player[0]}</div>
                                <div id="player_${new_update.id}_value">${player[1]}</div>
                            </div>
                        `;
                    } else {
                        new_update.new = false;
                    }

                    if (!check_if_already_in_update_queue(new_update.id, new_update.html, new_update.pos)) {
                        update_queue.push(new_update);
                    }
                });

                // Remove players that are no longer in the list
                let container = document.getElementById("player_kills");
                for (let i = 0; i < container.children.length; i++) {
                    let child = container.children[i];
                    console.log(current_players, child.id.split("_")[1]);
                    if (!current_players.includes(child.id.split("_")[1])) {
                        new_update = new UpdatePlayer();
                        new_update.type = "player_stats";
                        new_update.id = child.id.split("_")[1];
                        new_update.delete = true;
                        if (!check_if_already_in_update_queue(new_update.id, new_update.html, new_update.pos)) {
                            update_queue.push(new_update);
                        }
                    }
                }
            }
        });
    }

    function check_if_already_in_update_queue(id, new_html, pos = -1) {
        // check if already in update_queue and replace value if in queue
        let found = false;
        for (let i = 0; i < update_queue.length; i++) {
            if (update_queue[i].id === id) {
                update_queue[i].html = new_html;
                if (pos !== -1) {
                    update_queue[i].pos = pos;
                }
                found = true;
                break;
            }
        }

        return found;
    }

    setInterval(get_matches_and_teams, 5000);
    get_matches_and_teams();
    setInterval(get_stats, 1000);
    get_stats();
    setInterval(process_update_queue, 100);
</script>
</html>