{% extends "base.html" %}
{% block header %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                {% for server in gameserver %}
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-3">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Server
                                #{{ server.id }} Info</h3>
                            </div>
                            <div class="card-body">
                                <h2 class="text-center" id="{{ server.id }}get5_matchname"></h2>
                                <hr>

                                <h3>Gamestate:</h3>
                                <div id="{{ server.id }}get5_gamestring"></div>
                                <hr>

                                <table style="width:100%">
                                    <tr>
                                        <th>IP:</th>
                                        <th id="{{ server.id }}ip"></th>
                                    </tr>
                                    {% if not simple %}
                                    <tr>
                                        <th>Game Paused?</th>
                                        <th id="{{ server.id }}get5_paused"></th>
                                    </tr>
                                    <tr>
                                        <th>Map Number</th>
                                        <th id="{{ server.id }}get5_map_number"></th>
                                    </tr>
                                    {% endif %}
                                </table>
                                <hr>

                                {% if not simple %}
                                <h3>Team#1</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th>Players Connected</th>
                                        <th id="{{ server.id }}get5_team1_connected_clients"></th>
                                    </tr>
                                    <tr>
                                        <th>Current Map Score</th>
                                        <th id="{{ server.id }}get5_team1_current_map_score"></th>
                                    </tr>
                                    <tr>
                                        <th>Ready</th>
                                        <th id="{{ server.id }}get5_team1_ready"></th>
                                    </tr>
                                    <tr>
                                        <th>Teamname</th>
                                        <th id="{{ server.id }}get5_team1_name"></th>
                                    </tr>
                                    <tr>
                                        <th>Series Score</th>
                                        <th id="{{ server.id }}get5_team1_series_score"></th>
                                    </tr>
                                    <tr>
                                        <th>Side</th>
                                        <th id="{{ server.id }}get5_team1_side"></th>
                                    </tr>
                                </table>
                                <hr>

                                <h3>Team#2</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th>Team #2 Players Connected</th>
                                        <th id="{{ server.id }}get5_team2_connected_clients"></th>
                                    </tr>
                                    <tr>
                                        <th>Current Map Score</th>
                                        <th id="{{ server.id }}get5_team2_current_map_score"></th>
                                    </tr>
                                    <tr>
                                        <th>Ready</th>
                                        <th id="{{ server.id }}get5_team2_ready"></th>
                                    </tr>
                                    <tr>
                                        <th>Teamname</th>
                                        <th id="{{ server.id }}get5_team2_name"></th>
                                    </tr>
                                    <tr>
                                        <th>Series Score</th>
                                        <th id="{{ server.id }}get5_team2_series_score"></th>
                                    </tr>
                                    <tr>
                                        <th>Side</th>
                                        <th id="{{ server.id }}get5_team2_side"></th>
                                    </tr>
                                </table>
                                {% endif %}
                                {% if ableToEndMatch %}
                                    <hr>
                                    <input class="btn btn-primary" type="submit" value="End Match"
                                           onclick="endMatch({{ server.id }})"
                                           name="submit">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script onload="getInfo();">
        function getInfo() {
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "http://{{ server_ip }}/status/info", false);
            xmlHttp.send(null);

            let res = JSON.parse(xmlHttp.responseText);

            {% for server in gameserver %}
                document.getElementById("{{ server.id }}ip").innerText = res[{{ server.id }}]["ip"];

                json_res = res[{{ server.id }}]["get5_stats"];
                document.getElementById("{{ server.id }}get5_gamestring").innerText = json_res["gamestate_string"];

                if (json_res.hasOwnProperty('matchid')) {
                    document.getElementById("{{ server.id }}get5_matchname").innerText = json_res["matchid"];
                } else {
                    document.getElementById("{{ server.id }}get5_matchname").innerText = "No Match";
                }

                {% if not simple %}
                if (json_res.hasOwnProperty('paused')) {
                    document.getElementById("{{ server.id }}get5_paused").innerText = json_res["paused"];
                }

                if (json_res.hasOwnProperty('map_number')) {
                    document.getElementById("{{ server.id }}get5_map_number").innerText = json_res["map_number"];
                } else {
                    document.getElementById("{{ server.id }}get5_map_number").innerText = "";
                }

                if (json_res.hasOwnProperty("team1")) {
                    for (key in json_res["team1"]) {
                        document.getElementById("{{ server.id }}get5_team1_" + key).innerText = json_res["team1"][key];
                    }
                } else {
                    get5_team1 = document.querySelectorAll('[id^="{{ server.id }}get5_team1_"]');
                    get5_team1.forEach(function (value) {
                        value.innerText = "";
                    });
                }

                if (json_res.hasOwnProperty("team1")) {
                    for (key in json_res["team2"]) {
                        document.getElementById("{{ server.id }}get5_team2_" + key).innerText = json_res["team2"][key];
                    }
                } else {
                    get5_team2 = document.querySelectorAll('[id^="{{ server.id }}get5_team2_"]');
                    get5_team2.forEach(function (value) {
                        value.innerText = "";
                    });
                }
                {% endif %}
            {% endfor %}
        }
        {% if ableToEndMatch %}
        function endMatch(id) {
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "http://{{ server_ip }}/config/endMatch", true);

            xmlHttp.setRequestHeader("Content-Type", "application/json");
            xmlHttp.send(JSON.stringify({
                "server": id
            }));
        }
        {% endif %}

        setInterval(getInfo, 1000);
    </script>
{% endblock %}
{% block foot %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
{% endblock %}
